# Retro - Supplementary Table 1

In [1]:
import os
import fsspec
import json
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

## Load the data

In [2]:
with fsspec.open(
    "https://carbonplan.blob.core.windows.net/carbonplan-retro/reclassification/classifier_fscores.json",
    "r",
) as f:
    data = json.load(f)

## Plot the table

In [3]:
df = pd.DataFrame()
df['Supersection'] = data.keys()
df['Weighted F-Score'] = [str(round(data[key][0], 2)) for key in data.keys()]

In [4]:
df.style.set_properties(**{'white-space': 'pre-wrap',}).hide_index()